<!DOCTYPE html>
<html lang="ja" ng-app="PhonecatApp">
<head>
    <meta charset="UTF-8">
    <title>Angular Tutorial With TypeScript and BABEL.</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="dest/js/bundle.js"></script>
</head>
<body ng-controller="PhoneListController as c">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <!--Sidebar content-->

                Search: <input ng-model="c.query">
                Sort by:
                <select ng-model="c.orderProp">
                    <option value="name">Alphabetical</option>
                    <option value="age">Newest</option>
                </select>

            </div>
            <div class="col-md-10">
                <!--Body content-->

                <ul class="phones">
                    <li ng-repeat="phone in c.phones | filter: c.query | orderBy: c.orderProp" class="thumbnail">
                        <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>
                        <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
                        <p>{{phone.snippet}}</p>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</body>
</html>
